@import "../../scss/index.scss";
@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");

@font-face {
  font-family: "Samsung Sharp Sans Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Samsung Sharp Sans Regular"),
    url("../../scss/fonts/samsungsharpsans.woff") format("woff");
}

@font-face {
  font-family: "Samsung Sharp Sans Medium";
  font-style: normal;
  font-weight: normal;
  src: local("Samsung Sharp Sans Medium"),
    url("../../scss/fonts/samsungsharpsans-medium.woff") format("woff");
}

@font-face {
  font-family: "Samsung Sharp Sans Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Samsung Sharp Sans Bold"),
    url("../../scss/fonts/samsungsharpsans-bold.woff") format("woff");
}

.signin-signup {
  &__left {
    overflow: hidden;
    min-height: 100vh;
    background-image: linear-gradient(to bottom, #0f62a2, #68c1f7);
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      position: absolute;
      top: 30%;
      right: 70%;
      width: 50%;
      max-width: 100%;
      height: 50%;
      object-fit: cover;
    }

    div {
      z-index: 1;
      margin-top: 20px;
      margin-left: 200px;

      h2 {
        display: flex;
        align-items: center;
        font-size: 140%;
        margin-bottom: 40px;
        font-weight: bold;
        color: antiquewhite;
        font-family: "Samsung Sharp Sans Medium";

        svg {
          margin-right: 20px;
          font-size: 30px;
          width: 40px !important;
        }
      }
    }

    @media screen and (max-width: 768px) {
      flex-direction: column; /* Para que los elementos se apilen en pantallas pequeñas */
      justify-content: flex-start; /* Para que la imagen no ocupe todo el ancho en pantallas pequeñas */
      min-width: 60vh;

      img {
        position: static; /* Para que la imagen siga el flujo del documento en pantallas pequeñas */
        margin: 0 auto 20px; /* Centrar la imagen horizontalmente y agregar un espacio entre la imagen y el texto en pantallas pequeñas */
        width: 80%; /* Reducir el tamaño de la imagen en pantallas pequeñas */
        height: auto; /* Ajustar la altura de la imagen proporcionalmente al tamaño nuevo en pantallas pequeñas */
      }

      svg {
        font-size: 24px; /* reducir el tamaño del icono en pantallas pequeñas */
        width: 30px !important;
      }

      div {
        margin: 0; /* Eliminar el margen izquierdo en pantallas pequeñas */
      }

      h2 {
        font-size: 20px; /* Reducir el tamaño del texto en pantallas pequeñas */
      }
    }
  }

  &__right {
    z-index: 2;
    overflow: hidden;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    > div {
      width: 500px;
      margin: auto;

      img {
        width: 30%;
        max-width: 100%;
        height: 50%;
        margin-bottom: 5px;
        object-fit: cover;
      }

      h2 {
        color: antiquewhite;
        font-family: "Samsung Sharp Sans Bold";
        font-size: 40px;
        margin-bottom: 70px;
      }

      h3 {
        color: antiquewhite;
        font-family: "Samsung Sharp Sans Regular";
        font-size: 25px;
        margin-bottom: 30px;
      }

      button {
        display: block;
        width: 100%;
        border-radius: 50px;
        font-size: 20px;
        font-family: "DM Sans", sans-serif;
        padding: 10px 0;

        &:first-of-type {
          margin-bottom: 6%;
        }
      }
    }
    @media screen and (max-width: 768px) {
     // flex-direction: column; /* Para que los elementos se apilen en pantallas pequeñas */
      justify-content: flex-start; /* Para que la imagen no ocupe todo el ancho en pantallas pequeñas */
      min-width: 60vh;
      background-image: linear-gradient(to right, #15212b, #475c67);

      h2{
        padding: 10px;
      }
    }
  }
}
