@import "./scss/index.scss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to right, #15212b, #475c67);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.btn {
  box-shadow: none !important;
}

.btn.btn-primary {
  background-image: linear-gradient(to top right, #106fb8, #1b95f1);

  border-color: $primary;

  &:hover {
    background-image: linear-gradient(to top right, #65a6d8, #1b95f1);
  }
}

.btn.btn-outline-primary {
  border-color: $border-primary;
  color: antiquewhite;
  &:hover,
  &:focus,
  &:active {
    background-color: rgba(29, 2641, 241, 0.1) !important;
  }
}

input[type="password"]::-webkit-inner-spin-button {
  color: white !important;
}

input[type="password"]::-moz-range-thumb {
  color: white !important;
}

input.form-control,
textarea.form-control {
  background-color: $background-dark-light;
  border-radius: 5px;
  border: 0;
  border-bottom: 1px solid $border-grey;
  color: $font-light !important;

  &::placeholder {
    color: rgb(143, 135, 125);
  }

  &:focus,
  :hover {
    background-color: $background-dark-light;
    box-shadow: none;
    border-bottom: 1px solid $border-primary;
  }
}
